body{
	font-size: 30px;
}
.header{
	background-color : #498fff;
	height: 100px;
	color: white;
	/*float: left;*/
}
.header2{
	float: right;
	height: 100px;
	text-align: right;
	vertical-align: middle;
}
.right-side{
	float: right;
}
#pro{
	color : orange;
	font-size: 2em;
	margin-top: 20px;
}
#book{
	font-size: 2em;
	margin-top: 20px;
}
#user{
	text-align: right;
	float: left;
	height: 100px;
	padding-top: 25px;
	margin-right: 20px;
}
#logicon{
	/*text-align: right;*/
	background-color: orange;
	width: 200px;
	float: right;
	height: 75px;
	text-align: center;
	padding-top: 25px;
}
.browse{
	background-color: blue;
	border-right: 2px solid #ffffff;
	float: left;
	width: 33.7%;
	height: 100px;
	vertical-align: middle;
}
.history{
	background-color: blue;
	border-right: 2px solid #ffffff;
	float: left;
	width: 33%;
	height: 100px;
	vertical-align: middle;
}
.profile{
	background-color: orange;
	float: right;
	width: 33%;
	height: 100px;
	vertical-align: middle;
}
.main-section{
	height: 100px;
	width: 100%;
	color: white;
	font-size: 2em;
	text-align: center;
}
.profile-pic{
	height: 300px;
	background-color : #000099;
	padding-top: 1px;
}
.edit-pic{
	float: right;
	text-align: right;
	color : white;
}
.pic-border{
	height: 125px;
	width: 125px;
	border-radius: 50%;
	border : 10px solid yellow;
	margin : 83px auto;
	color : white;
	padding-top: 1px;
}
#prof-pic{
	vertical-align: middle;
	height: 100px;
}