html,body {
    margin:0;
    padding:0;
    overflow-x: hidden; 
}
body{
	font-size: 30px;
	width: 100%;
	height: 100%;
	padding: 0;
	/*padding-top: 1px;*/
	font-family: 'Karla', sans-serif;
}
.headerbar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 110px;
}
.header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 110px;
	background-color : rgb(21,156,234);
	color: white;
	display: flex;
	align-items: center;
	/*padding-top: 1px;*/
	/*float: left;*/
}
.header2{
	height: 100%;
	display: flex;
	align-items: center;
	/*text-align: right;*/
}
.right-side{
	float: right;
}
#pro{
	color : rgb(238,211,9);
	font-size: 2em;
	margin-left: 3vw;
}
#book{
	font-size: 2em;
	margin-right: auto;
}
#user{
	margin-right: 1vw;
	text-decoration: underline;
}
#logicon{
	/*text-align: right;*/
	background-color: rgb(235,79,8);
	background-size: cover;
	float: right;
	width: 7ch;
	height: inherit;
	display: inline-block;
	vertical-align: middle;
}
.browse{
	background-color: rgb(16,129,192);
	border-right: 2px solid #ffffff;
	float: left;
	width: 33.7%;
	height: 120px;
	padding-top: 20px;
	color: white;
	text-transform: uppercase;
	font-size : 50px;
	display: inline-block;
	text-align: center;
}
.history{
	background-color: rgb(235,79,8);
	border-right: 2px solid #ffffff;
	float: left;
	width: 33%;
	height: 120px;
	padding-top: 20px;
	color: white;
	text-transform: uppercase;
	font-size : 50px;
}
.profile{
	background-color: rgb(16,129,192);
	float: right;
	width: 33%;
	height: 120px;
	padding-top: 20px;
	color: white;
	text-transform: uppercase;
	font-size : 50px;
}
.main-section{
	background-color: rgb(3,41,59);
	height: 100px;
	width: 100%;
	color: white;
	font-size: 2em;
	text-align: center;
	display: inline-block;
	padding-top: 100px;
	align-items: horizontal;
}
.font2em{
	font-size: 2em;
	padding-bottom: 5px;
}
.title-book{
	margin: 80px 0px 0px 147px;
	float: left;
	width: 65%;
}
#book-title{
	font-size: 2.2em;
	color : rgb(235,79,8);
	margin-left : -5px;
	letter-spacing: -5px;
	line-height: 60px;
}
.author{
	font-size: 40px;
	margin-top: -5px;
}
.book-pic{
	width: 200px;
	height: 200px;
	background-image: url(/view/asset/tayo.png);
	background-size: cover;
	border : 1.5px solid black;
	margin: 80px 147px 0 0;  
	float: right;
}
.book-section{
	height: 200px;
}
.review-section{
	margin-top: 150px;
	/*display : block;*/
	/*padding-top: 50px;*/
}
#add-rating{
	font-size: 2em;
	margin: 25px 0px 25px 145px;
	color: navy;
}
.review{
	width: 100%;
	margin: 40px 0px 0px -32%;
	direction: rtl;
}
.review img:hover{
	content: url(/view/asset/full_star.png);
}
.star1:hover ~ img{
	content: url(/view/asset/full_star.png);
}
.star2:hover ~ img{
	content: url(/view/asset/full_star.png);
}
.star3:hover ~ img{
	content: url(/view/asset/full_star.png);
}
.star4:hover ~ img{
	content: url(/view/asset/full_star.png);
}
 
.img-star{
	height: 100px;
	width: 100px;
}
.comment-section{
	margin-top: 60px;
}
#add-comment{
	font-size: 2em;
	margin: 25px 0px 25px 145px;
	color: navy;	
}
.comment{
	width: 80%;
	margin: 10px 40px 40px 146px;
}
textarea{
	width: 100%;
	font-size: 30px;
	padding: 5px 20px 5px 20px;
}
#submit{
	border: 0px;
	background-color: rgb(21,156,234);
	color: white;
	font-size: 30px;
	float: right;
	margin : 50px 117px 40px 0px;
	padding: 5px 67px 5px 67px;
	border-radius : 10px;
}
#back{
	border: 2px solid rgb(235,79,8);
	color: rgb(235,79,8);
	background-color: white;
	font-size: 30px;
	float: left;
	margin: 50px 0px 40px 146px;
	padding: 5px 67px 5px 67px;
	border-radius: 10px;
}